/* Reset and basic styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #0A0A0A, #1A1A1A);
    color: #FFFFFF;
    overflow: hidden;
}

/* General container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;
    background: rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    font-family: 'Cinzel', serif;
    font-size: 5.5vw;
    margin-bottom: 0;
    animation: fadeIn 2s ease-in-out;
    color: #FFFFFF;
    padding: 10px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Canvas background */
#canvas-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
	backdrop-filter: blur(15px);
}

/* Tab bar styles */
.tab-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 3;
    display: flex;
    justify-content: center;
    padding: 0.42vw 0;
    box-shadow: 0 0.16vw 0.26vw rgba(0, 0, 0, 0.1);
}

.tab-bar a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.42vw 0.83vw;
    margin: 0 0.42vw;
    font-size: 0.73vw;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    border-bottom: 0.1vw solid transparent;
    position: relative;
    overflow: hidden;
}

.tab-bar a:hover,
.tab-bar a.active {
    background: rgba(120, 81, 169, 0.3);
    border-bottom-color: #7851A9;
    box-shadow: 0 0 1vw rgba(120, 81, 169, 0.5);
}

.tab-bar a::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(120, 81, 169, 0.5), transparent);
    transition: top 0.3s ease-out;
}

.tab-bar a:hover::before,
.tab-bar a.active::before {
    top: 0;
}

/* Styles for social panels */
.social-panels {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2.6vw);
    padding-top: 2.6vw;
    flex-wrap: wrap;
}

.social-panel {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.05vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.21vw;
    box-shadow: 0 0.16vw 0.26vw rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-align: center;
    margin: 0.42vw;
    padding: 0.83vw;
    width: 12.5vw;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.social-panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.7);
    transition: background-color 0.3s;
}

.social-panel:hover::before {
    background: transparent;
}

.social-panel:hover {
    transform: translateY(-0.21vw);
    box-shadow: 0 0.26vw 0.37vw rgba(0, 0, 0, 0.2), 0 0 1vw rgba(120, 81, 169, 0.5);
}

.social-panel::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(120, 81, 169, 0.3), transparent);
    transition: top 0.3s ease-out;
}

.social-panel:hover::after {
    top: 0;
}

.social-panel h2,
.social-panel p,
.social-panel a {
    position: relative;
    z-index: 4;
}

.social-panel h2 {
    font-size: 1.04vw;
    margin: 0.42vw 0;
}

.social-panel p {
    margin-bottom: 0.63vw;
    font-size: 0.73vw;
}

.social-panel a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.73vw;
}
/* Glowing circle animation */
.glowing-circle {
    position: absolute;
    width: 1vw; /* Adjust size for better visibility */
    height: 1vw; /* Adjust size for better visibility */
    background: radial-gradient(circle, rgba(120, 81, 169, 0.7) 0%, rgba(120, 81, 169, 0) 80%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 
        0 0 15px rgba(120, 81, 169, 0.6), 
        0 0 30px rgba(120, 81, 169, 0.4), 
        0 0 45px rgba(120, 81, 169, 0.2);
    animation: ripple 2s ease-out;
}

/* Keyframes for ripple animation */
@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

/* Optional: Animation to remove element after animation completes */
.glowing-circle.animation-complete {
    animation: none;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .social-panels {
        flex-direction: column;
    }

    .social-panel {
        margin: 0.83vw 0;
        width: 80%;
    }

    .tab-bar {
        flex-wrap: wrap;
    }

    .tab-bar a {
        margin: 0.21vw;
    }
}