body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0D0D0D;
}

.container {
  position: relative;
  text-align: right;
}

.glitch {
  font-size: 64px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5px 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.rose {
  position: absolute;
  bottom: -10px;
  right: -2px;
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5px 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.petal {
  position: absolute;
  width: 20px; 
  height: 40px; 
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh); 
  }
  100% {
    transform: translateY(110vh); 
  }
}

.petal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden; 
}