body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0D0D0D;
}

.container {
  position: relative;
  text-align: right;
}

.glitch {
  font-size: 2.5vw; /* Adjust font size relative to viewport width */
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 1vh 2vw; /* Adjust padding relative to viewport */
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7); /* Adjust text shadow relative to viewport */
}

.rose {
  position: absolute;
  bottom: -1.3vh; /* Adjust position relative to viewport */
  right: -0.05vw; /* Adjust position relative to viewport */
  font-size: 1.5vw; /* Adjust font size relative to viewport width */
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 1vh 2vw; /* Adjust padding relative to viewport */
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7); /* Adjust text shadow relative to viewport */
}

.petal {
  position: absolute;
  width: 1.5vw; /* Adjust width relative to viewport */
  height: 3vw; /* Adjust height relative to viewport */
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}

.petal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #131215;
  height: 6vh; /* Adjust height relative to viewport */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.home-link {
  font-size: 1.25vw; /* Adjust font size relative to viewport width */
  color: #8A7D8C;
  cursor: pointer;
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 4vw; /* Adjust padding relative to viewport */
  text-shadow: 0 0 0.5208125vw rgba(255, 255, 255, 0.7); /* Adjust text shadow relative to viewport */
  z-index: 4;
}

.home-link:hover {
  background: linear-gradient(to left, #8A7D8C, #EAD5F2, #B3B6F2, #F2F2F2);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 0 0.5208125vw rgba(255, 255, 255, 0.7), 0 0 1.041625vw rgba(255, 255, 255, 0.7); /* Adjust text shadow relative to viewport */
  z-index: 4;
}
